﻿@layout MainLayout
@page "/ListRoles"
@using Service
@using System.Linq
@using LogBookModels
@inject RoleService objectService
@inject IJSRuntime JSRuntime
<h3>ListRoles</h3>

<AuthorizeView>
    <Authorized Context="Auth">
        <EditForm Model="@role" OnValidSubmit="@AddRole">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input @ref="firstNameTextBox" class="form-control col-12" @bind="role.RoleName" placeholder="Наименование роли" />
                        &nbsp;<ValidationMessage For="@(() => role.RoleName)" />
                    </div>
                    <div class="col-sm">
                        <input class="form-control col-12" @bind="role.Description" placeholder="Описание если нужно" />
                    </div>
                    <div class="col-sm">
                        <input type="submit" class="form-control col-6 btn btn-primary" value="Add Role" />
                    </div>
                </div>
            </div>
            <div class="col-12 row" style="text-align:left; font-weight:bold">
                <span class="col-12">@ErrorMesssage</span>
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@if (listRoles == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Роль</th>
                <th>Описание роли</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in listRoles)
            {
                <tr>
                    <td>
                        @role.RoleName
                    </td>
                    <td>
                        @role.Description
                    </td>
                    <td>
                        <div class="row col-12">
                            <div class="col-sm">
                                <a href="/EditRole/@role.Id">
                                    <button type="button" class="btn btn-info"> <span class="oi oi-pencil" aria-hidden="true"></span>Edit</button>
                                </a>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-danger" @onclick="() => Delete(role)"> <span class="oi oi-trash" aria-hidden="true"></span>Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public Role role { get; set; }
    public string ErrorMesssage { get; set; }
    public List<Role> listRoles { get; set; }

    ElementReference firstNameTextBox;

    protected override async Task OnInitializedAsync()
    {
        role = new Role();
        await UpdateRoles();
        //listRoles = await Task.Run(() => objectService.GetListObjects());
    }


    private async Task<bool> UpdateRoles()
    {
        listRoles = (await objectService.GetAll()).OrderBy((Role x) => x.RoleName).ToList();
        return await Task.FromResult(true);
    }

    private async Task<bool> AddRole()
    {
        await objectService.Create(role);
        //ErrorMesssage = "Роль с таким наименованием уже существует";
        //await JSRuntime.InvokeVoidAsync("setFocusOnElement", firstNameTextBox);

        await UpdateRoles();
        //await UpdateRoles();
        return await Task.FromResult(true);
    }
    private async void Delete(Role role)
    {
        await objectService.DeleteAsync(role);
        await UpdateRoles();
    }

}
