﻿@layout LoginLayout
@inherits LayoutComponentBase

@*<center>*@
    @Body
    @*<div class="col-8 card">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <div class="col-6" style="border-right:groove">
                    <img src="/img/book_store_logo.jpg" width="400px" height="400px" />
                </div>
                <div class="col-6" style="border-left:thick">

                </div>
            </div>
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
        </div>*@
@*</center>*@