﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">LogBook</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Directories
            </NavLink>
            @if (expandSubNav)
            {
                <NavLink class="nav-item px-3" href="listRole">
                    <span class="oi oi-minus" aria-hidden="true"></span>  Posts
                </NavLink>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="document">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Документы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pattern">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Конструктор шаблонов
            </NavLink>
        </li>
    </ul>


</div>

@code { private bool collapseNavMenu = true;
            private bool expandSubNav;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            } }
