﻿@page "/document"
@using LogBookServerApp.Service
@using LogBookServerApp.Data
@using LogBookModels.Models
@using System.Text.Json;

@inject IService1<Template> docService

@inject IHttpClientFactory HttpClientFactory

@inject LogBookServerApp.Service.IService<LogBookModels.Models.Template> templateService



<h1>Document</h1>
<table class="table">
    <thead>
        <tr>
            @if (document.Count != 0)
                @foreach (var item in document.First().Fields)
                {
                    <th>@item.FieldLabel</th>
                }

                @*<th>CreateUserID</th>
                    <th>DateCreate</th>
                    <th>DivisionID</th>
                    <th>PrepareManPhone</th>
                    <th>RegisterDate</th>
                    <th>SignManID</th>
                    <th>State</th>
                    <th>TypeDoc</th>*@
        </tr>
    </thead>

    <tbody>
        @if (document != null)
            @foreach (var doc in document)
            {
                <tr>
                    @foreach (var value in doc.Fields)
                    {

                        <td>@value.Value</td>

                    }
                </tr>
            }
    </tbody>

</table>

<input type="button" class="btn btn-primary" @onclick="@AddDocument" value="CreatePattern" />

<BSButton Color="Color.Primary" @onclick="@(() => SizeLarge.Show())">Добавить</BSButton>
<BSModal @ref="SizeLarge" Size="Size.Large">
    <BSModalHeader OnClick="@(() => SizeLarge.Hide())">Новый документ</BSModalHeader>

    <BSModalBody>
        <BSBasicInput InputType="InputType.Select" @bind-Value="@_Id">
            @foreach (var item in template)
            {
                <option value="@item.Id"> @item.Name </option>

            }
        </BSBasicInput>

        <EditForm Model="template">

            @if (template.Count != 0 && _Id != null)
                @foreach (var item in template.Where(t => t.Id == _Id).FirstOrDefault().Fields)
                {
                    <div class="form-group">

                        @if (item.Component == LogBookModels.Models.TComponent.Edit)
                        {
                            <label>@item.FieldLabel:</label>
                            <InputText Id="CouponCode" Class="form-control" @bind-Value="item.Value"></InputText>
                        }

                        @if (item.Component == LogBookModels.Models.TComponent.DatePicker)
                        {
                            <label>@item.FieldLabel:</label>
                            <BSBasicInput InputType="InputType.Date" PlaceHolder="Default" @bind-Value="@item.Value" />
                        }

                        @if (item.Component == LogBookModels.Models.TComponent.Memo)
                        {
                            <label>@item.FieldLabel:</label>
                            <BSBasicInput InputType="InputType.TextArea" Name="text" Id="exampleText" Rows="5" @bind-Value="@item.Value" />
                        }

                        @if (item.Component == LogBookModels.Models.TComponent.ComboBox)
                        {
                            <label>@item.FieldLabel:</label>
                            <BSBasicInput Id="exampleFormControlSelect1" InputType="InputType.Select" @bind-Value="item.Value">
                                @foreach (var item1 in JsonSerializer.Deserialize<List<string>>(item.Value))
                                            {
                                    <option>@item1</option>
                                            }


                            </BSBasicInput>
                        }

                    </div>
                }
        </EditForm>
    </BSModalBody>

    <BSModalFooter>
        <BSButton Color="Color.Primary" @onclick="@CreateTemplate">Сохранить</BSButton>
        <BSButton Color="Color.Secondary" @onclick="@(() => SizeLarge.Hide())">Отмена</BSButton>
    </BSModalFooter>
</BSModal>


@code{
    BSModal SizeLarge { get; set; }
    BSModal SizeSmall { get; set; }

    List<LogBookModels.Models.Field> fld { get; set; }

    List<LogBookModels.Models.Template> document { get; set; }
    List<LogBookModels.Models.Template> template { get; set; }
    List<string> itemCBX { get; set; }



    string _Id;


    public List<LogBookModels.Models.Document> publisherList { get; set; }
    public List<LogBookModels.Models.Document> filteredPublisherList { get; set; }

    protected async override Task OnInitializedAsync()
    {
        document = new List<LogBookModels.Models.Template>();
        template = new List<LogBookModels.Models.Template>();
        itemCBX = new List<string>();

        fld = new List<LogBookModels.Models.Field>();


        // await IBootstrap.SetBootstrapCss();
        // document = null;
        document = await docService.GetAllAsync();

        template = await templateService.GetAllAsync();

        _Id = template[0].Id;


    }

    protected void AddDocument()
    {

    }

    void SelectedChanged(string Id)
    {
        _Id = Id;

    }

    protected void CreateTemplate()
    {
        // SizeLarge.Hide();




        //  template1 = (Template1) ;

        //  docService.Create( as Template1);
        docService.Create(template.First(t => t.Id == _Id));
        SizeLarge.Hide();
    }

}



