﻿@page "/Pattern"
@using LogBookModels.Models;
@inject IHttpClientFactory HttpClientFactory
@inject LogBookServerApp.Service.IService<Template> docService
@using System.Text.Json

    <h3>Конструктор шаблонов</h3>


@*<input type="button" class="btn btn-primary" @onclick="@CreatePattern" value="CreatePattern" />
<input type="button" class="btn btn-primary" @onclick="@DynamicView" value="DynamicView" />
<br>
<br>*@

<BSTabGroup ShowEvent="@Show" HiddenEvent="@Hidden" HideEvent="@Hide" ShownEvent="@Shown">
    <BSTabList>
        <BSTab InitialSelection="@true">
            <BSTabLabel>Наименование</BSTabLabel>
            <BSTabContent>
                <BSJumbotron IsFluid="true">
                    <BSContainer>
                        <BSFormGroup>
                            <BSLabel>Наименование  шаблона:</BSLabel>
                            <BSBasicInput Id="ProductName" InputType="InputType.Text" PlaceHolder="Введите наименование" ValueChanged="@((string value) => SelectedChanged(value))" />
                        </BSFormGroup>
                    </BSContainer>
                </BSJumbotron>
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Текстовое поле</BSTabLabel>
            <BSTabContent>
                <BSJumbotron IsFluid="true">
                    <BSContainer>
                        <BSFormGroup>
                            <BSLabel>Наименование:</BSLabel>
                            <BSBasicInput InputType="InputType.Text" PlaceHolder="Введите наименование" @bind-Value="@FieldLabel" />
                            <br>
                            <BSButton Color="Color.Success" OnClick="AddInput">Добавить</BSButton>
                        </BSFormGroup>
                    </BSContainer>
                </BSJumbotron>
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Поле с датой</BSTabLabel>
            <BSTabContent>
                <BSJumbotron IsFluid="true">
                    <BSContainer>
                        <BSFormGroup>
                            <BSLabel>Наименование:</BSLabel>
                            <BSBasicInput InputType="InputType.Text" PlaceHolder="Введите наименование" @bind-Value="@FieldLabel" />
                            <br>
                            <BSButton Color="Color.Success" OnClick="AddDate">Добавить</BSButton>
                        </BSFormGroup>
                    </BSContainer>
                </BSJumbotron>
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Многострочный текст</BSTabLabel>
            <BSTabContent>
                <BSJumbotron IsFluid="true">
                    <BSContainer>
                        <BSFormGroup>
                            <BSLabel>Наименование:</BSLabel>
                            <BSBasicInput InputType="InputType.Text" PlaceHolder="Введите наименование" @bind-Value="@FieldLabel" />
                            <br>
                            <BSButton Color="Color.Success" OnClick="AddMemo">Добавить</BSButton>
                        </BSFormGroup>
                    </BSContainer>
                </BSJumbotron>
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Поле с выбором</BSTabLabel>
            <BSTabContent>
                <BSJumbotron IsFluid="true">
                    <BSContainer>
                        <BSFormGroup>
                            <BSLabel>Наименование:</BSLabel>
                            <BSBasicInput InputType="InputType.Text" PlaceHolder="Введите наименование" @bind-Value="@FieldLabel" />
                            <BSLabel>Наименование элементов:</BSLabel>
                            <BSBasicInput InputType="InputType.Text" PlaceHolder="Введите наименование" @bind-Value="@Value" />
                            <br>
                            <BSButton Color="Color.Success" OnClick="AddItem">Добавить</BSButton>
                            <br>
                            <BSListGroup>
                                @if (itemCBX.Count != 0)
                                    @foreach (var item in itemCBX)
                                    {
                                        <BSListGroupItem>@item</BSListGroupItem>
                                    }

                            </BSListGroup>
                            <br>
                            <br>
                            <BSButton Color="Color.Success" OnClick="AddComBox">Добавить</BSButton>
                        </BSFormGroup>
                    </BSContainer>
                </BSJumbotron>
            </BSTabContent>
        </BSTab>
    </BSTabList>
    <BSTabSelectedContent>
    </BSTabSelectedContent>
</BSTabGroup>
<br>
<BSJumbotron>
    <h3 class="display-8">Наименование шаблона: @template.Name</h3>
    <p class="lead">Это шаблон для пользователя</p>
    <hr class="my-4" />
    <EditForm Model="template">
        @if (template.Fields.Count != 0)
            @foreach (var item in template.Fields)
            {
                <div class="form-group">

                    @if (item.Component == TComponent.Edit)
                    {
                        <label>@item.FieldLabel:</label>
                        <InputText Id="CouponCode" Class="form-control" @bind-Value="item.Value"></InputText>
                    }
                   
                    @if (item.Component == TComponent.DatePicker)
                    { 
                         <label>@item.FieldLabel:</label>
                        <BSBasicInput InputType="InputType.Date" PlaceHolder="Default" Value="string.Empty" />
                    }

                    @if (item.Component == TComponent.Memo)
                    { 
                        <label>@item.FieldLabel:</label>
                        <BSBasicInput InputType="InputType.TextArea" Name="text" Id="exampleText" Rows="5" Value="string.Empty"/>
                    }

                    @if (item.Component == TComponent.ComboBox)
                    { 
                        <label>@item.FieldLabel:</label>
                        <BSBasicInput Id="exampleFormControlSelect1" InputType="InputType.Select"  @bind-Value="item.Value">
                            @foreach (var item1 in itemCBX)
                            {
                                <option>@item1</option>
                            }
                           
                            
                        </BSBasicInput>
                    }

                </div>
            }
    </EditForm>
        <BSButton Color=Color.Primary Size=Size.Small @onclick="@CreateTemplate">Сохранить</BSButton>
        <BSButton Color="Color.Danger" Size="Size.Small">Отмена</BSButton>
</BSJumbotron>



@code{

    Template template { get; set; }
    Field field { get; set; }
    string FieldLabel { get; set; }
    string Value { get; set; }
    byte Counter { get; set; }
    List<string> itemCBX { get; set; }

    protected async override Task OnInitializedAsync()
    {
        template = new Template();
        template.Fields = new List<Field>();
        itemCBX = new List<string>();


        // document = await docService.GetAllAsync();
    }

    protected void CreateTemplate()
    {

         docService.Create(template);
    }


    protected async void DynamicView()
    {

        // document = await docService.GetAllAsync();
    }


    private void Show(BSTabEvent e)
    {
        Console.WriteLine($"Show   -> Activated: {e.Activated?.Id.ToString()} , Deactivated: {e.Deactivated?.Id.ToString()}");
    }
    private void Shown(BSTabEvent e)
    {
        Console.WriteLine($"Shown  -> Activated: {e.Activated?.Id.ToString()} , Deactivated: {e.Deactivated?.Id.ToString()}");
    }
    private void Hide(BSTabEvent e)
    {
        Console.WriteLine($"Hide   ->  Activated: {e.Activated?.Id.ToString()} , Deactivated: {e.Deactivated?.Id.ToString()}");
    }
    private void Hidden(BSTabEvent e)
    {
        Console.WriteLine($"Hidden -> Activated: {e.Activated?.Id.ToString()} , Deactivated: {e.Deactivated?.Id.ToString()}");
    }

    void SelectedChanged(string Value)
    {
        template.Name = Value;
    }

    void onclicName(MouseEventArgs e)
    {
        //Item.Add(template.Name);
    }

    void AddInput(MouseEventArgs e)
    {

        template.Fields.Add(new Field()
        {
            FieldLabel = FieldLabel,
            Component = TComponent.Edit,
            Position = ++Counter,
            Value = default

        });

        FieldLabel = default;
    }

    void AddDate(MouseEventArgs e)
    {

        template.Fields.Add(new Field()
        {
            FieldLabel = FieldLabel,
            Component = TComponent.DatePicker,
            Position = ++Counter,
            Value = default

        });

        FieldLabel = default;
    }

    void AddMemo(MouseEventArgs e)
    {

        template.Fields.Add(new Field()
        {
            FieldLabel = FieldLabel,
            Component = TComponent.Memo,
            Position = ++Counter,
            Value = default

        });

        FieldLabel = default;
    }

    void AddItem(MouseEventArgs e)
    {
        itemCBX.Add(Value);

        Value = default;
    }

    void AddComBox(MouseEventArgs e)
    {
        template.Fields.Add(new Field()
        {
            FieldLabel = FieldLabel,
            Component = TComponent.ComboBox,
            Position = ++Counter,
            Value = JsonSerializer.Serialize(itemCBX) 


        });

        FieldLabel = default;
    }
}
