﻿@layout MainLayout
@page "/users"
@using LogBookServerApp.Service

@inject IJSRuntime jsRunTime
@inject UserService userService
@inject RoleService roleService

@inject IHttpClientFactory HttpClientFactory

<table class="table">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Роль пользователя</th>
            <th>Phone</th>
            <th>Corporate Phone</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (users.Count != 0)
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Login</td>
                    <td>
                        <div class="dropdown show">
                            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @user.role?.RoleName
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @foreach (var role in roles)
                                {
                                    <span class="dropdown-item" href="#" @onclick="(() => UpdateRole(user, role))">@role.RoleName</span>
                                }
                            </div>
                        </div>
                    </td>
                    <td>@user.Phone</td>
                    <td>@user.CorporatePhone</td>
                    <td>
                        <div class="row col-12">
                            <div class="col-sm">
                                <a href="/EditClient/@user.Id">
                                    <button type="button" class="btn btn-info"> <span class="oi oi-pencil" aria-hidden="true"></span>Edit</button>
                                </a>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-success" @onclick="() => Update(user)"> <span class="oi oi-check" aria-hidden="true"></span>Update</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-danger" @onclick="() => Delete(user)"> <span class="oi oi-trash" aria-hidden="true"></span>Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
</table>

@code{

    List<User> users { get; set; }
    List<Role> roles{ get; set; }

    protected async override Task OnInitializedAsync()
    {
        users = new List<User>();
        users = await userService.GetAllAsync();
        roles = new List<Role>();
        roles = await roleService.GetAll();
    }

    async Task OnRowUpdating(User user, IDictionary<string, object> newValue)
    {
        await userService.Update(user, newValue);
    }
    async Task OnRowInserting(IDictionary<string, object> newValue)
    {
        await userService.Insert(newValue);
    }
    Task OnInitNewRow(Dictionary<string, object> values)
    {
        return Task.CompletedTask;
    }
    async Task OnRowRemoving(User dataItem)
    {
        await userService.Delete(dataItem);
    }
    protected async Task Delete(User user)
    {
        await userService.Delete(user);
        //await UpdateClients();
    }
    protected async Task Update(User user)
    {
        //userService.Update(user);
        //await UpdateClients();
    }
    protected async Task UpdateRole(User user, Role role)
    {
        user.role = role;
        Update(user);
    }
}