﻿@layout CenteredCardLayout
@page  "/Login"
@using LogBookModels
@using Newtonsoft.Json
@using Data.ModuleUser
@using Service
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject UserService userService
@inject IJSRuntime jsRunTime

    <EditForm Model="@user" OnValidSubmit="@ValidateUser">
        <div>
            <h3 style="font-weight:bold; color:purple">LogBook Login</h3>
        </div>
        <div>
            <br />
        </div>
        <div class="col-12 row">
            <input class="form-control col-12" @bind="user.Login" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <input type="password" class="form-control col-12" @bind="user.Password" placeholder="password" />
        </div>
        <br />
        <div class="col-12 row">
            @*<span class="col-12"></span>*@
            <input type="submit" class="form-control col-6 btn btn-primary" value="Login" />
            <a href="/signup" class="col-3">Sign up</a>
            <a href="/" @onclick="(() => LoginGuest())" class="col-3">Sign us Guest</a>
        </div>
        <br />
        <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12">@LoginMesssage</span>
        </div>
    </EditForm>

@code  {

    private User user;
     public string LoginMesssage { get; set; }
    ClaimsPrincipal claimsPrincipal;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        user = new User();

        claimsPrincipal = (await authenticationStateTask).User;

        if (claimsPrincipal.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("/");
    }

    private async Task<bool> ValidateUser()
    {

        User returnedUser;
        System.Net.HttpStatusCode statusCode;
        (returnedUser, statusCode) = await userService.LoginAsync(user);
        //var returnedUser = new User();

        if (statusCode == System.Net.HttpStatusCode.OK)
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(returnedUser);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            LoginMesssage = "Invalid username or password";
        }

        return await Task.FromResult(true);
    }

    private async void LoginGuest()
    {

        var guestUser = new User() { Login = "guest@guest.guest", Password = "guest@guest.guest" };
        User returnedUser;
        System.Net.HttpStatusCode statusCode;
        (returnedUser, statusCode) = await userService.LoginAsync(guestUser);

        if (statusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await userService.Delete(guestUser);
            (returnedUser, statusCode) = await userService.RegisterUserAsync(guestUser);
        }
        else if (statusCode == System.Net.HttpStatusCode.NotFound)
        {
            (returnedUser, statusCode) = await userService.RegisterUserAsync(guestUser);
        }
        if (statusCode == System.Net.HttpStatusCode.OK)
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(returnedUser);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            LoginMesssage = "Error Login Guest";
        }
    }

}
